* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: #757575;
  width: 18px;
  height: 18px;
}

/* App View */

.main-container {
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-body {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

.header-container {
  display: flex;
  display: -webkit-flex;
  padding: 1.5em;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

.header-title {
  font-size: 1.2em;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  transition: all 0.25s linear;
}

.header-title:hover {
  color: #01579b;
}

.header-title svg {
  position: relative;
  top: 3px;
  left: 4px;
  width: 24px;
  height: 24px;
}

.header-selection {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

.header-selection a {
  font-size: 1.1em;
  border-right: 1px solid #e0e0e0;
  padding: 0 1em;
  transition: all 0.25s linear;
}

.header-login {
  display: inline-block;
}

.header-selection > a:hover {
  color: #01579b;
}

.header-selection > a:first-child {
  border-left: 1px solid #e0e0e0;
}

.footer-container {
  padding: 0.25em 0;
  margin: 0 auto;
}

/* Home View */

.home-container {
  max-width: 72em;
  margin: 1em auto 2em auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.pin-card {
  padding: 0 1em;
  margin: 1em 0;
  width: calc(25% - 1em);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: white;
  border: 1px solid #e0e0e0;
  transition: all 0.25s linear;
  cursor: zoom-in;
  justify-content: space-between;
}

@media screen and (max-width: 64em) {
  .pin-card {
    width: calc(33% - 1em);
  }
}

@media screen and (max-width: 48em) {
  .pin-card {
    width: calc(50% - 1em);
  }
}

@media screen and (max-width: 36em) {
  .pin-card {
    width: calc(100% - 1em);
  }
}

.pin-card:hover {
  color: #01579b;
  border-color: #01579b;
}

.pin-card > img {
  max-width: 100%;
  max-height: 15em;
  margin: 0 auto;
}

.pin-details {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.pin-details > p {
  margin: 1em auto;
}

.pin-details svg {
  position: relative;
  top: 3px;
  right: 3px;
}

/* Pin Detail Overlay */

.pin-detail-box {
  padding: 1em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: start;
  -webkit-align-items: start;
  position: fixed;
  top: 2em;
  left: calc(50% - 15em);
  width: 30em;
  height: 30em;
  background-color: white;
  border: 1px solid #e0e0e0;
  z-index: 15;
}

.pin-detail-box > p {
  margin: 0.5em 0;
}

.pin-detail-like svg {
  cursor: pointer;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 40px;
  height: 40px;
  fill: #f50057;
  opacity: 0.5;
  transition: all 0.3s linear;
}

.pin-detail-like svg:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.pin-detail-image {
    max-height: 15em;
}

/* New Pin Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 10;
}

.light-box {
  padding: 1em;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: start;
  -webkit-align-items: start;
  position: fixed;
  top: 2em;
  left: calc(50% - 20em);
  width: 40em;
  height: 30em;
  background-color: white;
  border: 1px solid #e0e0e0;
  z-index: 15;
}

.img-preview {
  margin: 2em 2em 0 0;
  width: 20em;
  height: 18em;
  border: 1px solid #cccccc;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

@media screen and (max-width: 42em) {
  .light-box {
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: calc(100% - 2.5em);
    height: 46em;
    left: 1em;
  }
  .img-preview {
    margin: 0;
  }
}

.close-box {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  cursor: pointer;
}

.close-box svg {
  fill: #cccccc;
}

.img-preview > img {
  position: relative;
  z-index: 10;
  max-width: 100%;
  max-height: 100%;
}

.img-preview > p {
  position: absolute;
  margin: 0;
  z-index: 1;
}

.pin-form {
  width: 20em;
  margin: 1em auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.pin-input {
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding: 0.3em 0.1em;
  margin-bottom: 0.5em;
}

.pin-input label {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.pin-input:focus {
  outline: none;
}

.pin-select {
  margin-bottom: 0.5em;
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #cccccc;
  height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pin-select option {
  color: inherit;
  font-weight: 300;
  font-size: 1.2em;
}

.submit-btn {
  margin-top: 0.5em;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0.5em 2em;
  background-color: #007fff;
  cursor: pointer;
}

/* Register View */

.register-container {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  width: 22em;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid #e0e0e0;
  background-color: white;
}

.register-form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.register-form label {
  margin-top: 0.5em;
}

.register-input {
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding: 0.3em 0.1em;
  margin: 0.5em 0;
}

.register-input:focus {
  outline: 1px solid #007fff;
}

.register-error {
  margin: 0;
  color: #ef5350;
}

.register-submit {
  margin-top: 0.5em;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0.6em 2em;
  background-color: #007fff;
  cursor: pointer;
}

.facebook-btn {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  margin-top: 0.5em;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0.5em 2em;
  background-color: #007fff;
  cursor: pointer;
}

.facebook-btn svg {
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
  left: 5px;
}

/* Login View */

.login-container {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  width: 22em;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid #e0e0e0;
  background-color: white;
}

.login-form {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.login-input {
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  padding: 0.3em 0.1em;
  margin: 0.5em 0;
}

.login-input:focus {
  outline: 1px solid #007fff;
}

.login-submit {
  margin-top: 0.5em;
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0.6em 2em;
  background-color: #007fff;
  cursor: pointer;
}

.login-error {
  margin: 0;
  color: #ef5350;
}

/* Messaging Components */

.close-message-box,
.close-error-box {
  position: absolute;
  top: 1.8em;
  left: 0.75em;
}

.close-message-box svg {
  width: 12px;
  fill: #00e676;
}

.close-error-box svg {
  width: 12px;
  fill: #f44336;
}

.success-message {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}

.success-message > p {
  padding: 0.75em 1em 0.75em 2em;
  border: 1px solid #00e676;
  color: #00e676;
}

.error-message {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
}

.error-message > p {
  padding: 0.75em 1em 0.75em 2em;
  border: 1px solid #f44336;
  color: #f44336;
}

.message-enter,
.error-enter {
  opacity: 0;
}

.message-enter.message-enter-active,
.error-enter.message-error-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.message-leave,
.error-leave {
  opacity: 1;
}

.message-leave.message-leave-active,
.error-leave.error-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
